body {
	background-color: #eee;
}

*:focus { outline: none; }
.btn:focus { outline: none; }
.btn:active { outline: none; }

.block {
	display: block;
}

/* clean gray
*******************************************************************************/
button.clean-gray {
	background-color: transparent;
	//background-color: #eeeeee;
	//background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
	//background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	//background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	//background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	//background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
	//background-image: linear-gradient(top, #eeeeee, #cccccc);
	border: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	border-radius: 3px;
	color: #333;
	font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	padding: 8px 0;
	text-align: center;
	text-shadow: 0 1px 0 #eee;
	width: auto;
	padding-left: 15px;
	padding-right: 15px;

	&:hover {
		//background-color: #dddddd;
		//background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
		//background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
		//background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
		//background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
		//background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
		//background-image: linear-gradient(top, #dddddd, #bbbbbb);
		//border: 1px solid #bbb;
		//border-bottom: 1px solid #999;
		//cursor: pointer;
		//text-shadow: 0 1px 0 #ddd;
		background: #fceabb; /* Old browsers */
		background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
		background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
	}

	&:active {
		border: 1px solid #aaa;
		border-bottom: 1px solid #888;
		-webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
		box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
	}
}

/* cupid green (inspired by okcupid.com)
*******************************************************************************/
button.cupid-green {
	background-color: #7fbf4d;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
	background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: linear-gradient(top, #7fbf4d, #63a62f);
	border: 1px solid #63a62f;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
	box-shadow: inset 0 1px 0 0 #96ca6d;
	color: #fff;
	font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	padding: 7px 0 8px 0;
	text-align: center;
	text-shadow: 0 -1px 0 #4c9021;
	width: auto;
	padding-left: 15px;
	padding-right: 15px;

	&:hover {
		background-color: #76b347;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
		background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
		background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
		background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
		background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
		background-image: linear-gradient(top, #76b347, #5e9e2e);
		-webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
		box-shadow: inset 0 1px 0 0 #8dbf67;
		cursor: pointer;
	}

	&:active {
		border: 1px solid #5b992b;
		border-bottom: 1px solid #538c27;
		-webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
		box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
	}
}

button.cupid-green.active {
	border: 1px solid #5b992b;
	border-bottom: 1px solid #538c27;
	-webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
	box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}

/* blue pill (inspired by iTunes)
*******************************************************************************/
button.blue-pill {
	background-color: #a5b8da;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5b8da), color-stop(100%, #7089b3));
	background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
	background-image: linear-gradient(top, #a5b8da, #7089b3);
	border-top: 1px solid #758fba;
	border-right: 1px solid #6c84ab;
	border-bottom: 1px solid #5c6f91;
	border-left: 1px solid #6c84ab;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
	box-shadow: inset 0 1px 0 0 #aec3e5;
	color: #fff;
	font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	padding: 8px 0;
	text-align: center;
	text-shadow: 0 -1px 1px #64799e;
	text-transform: uppercase;
	padding-left: 15px;
	padding-right: 15px;

	&:hover {
		background-color: #9badcc;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
		background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
		background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
		background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
		background-image: -o-linear-gradient(top, #9badcc, #687fa6);
		background-image: linear-gradient(top, #9badcc, #687fa6);
		border-top: 1px solid #6d86ad;
		border-right: 1px solid #647a9e;
		border-bottom: 1px solid #546685;
		border-left: 1px solid #647a9e;
		-webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
		box-shadow: inset 0 1px 0 0 #a5b9d9;
		cursor: pointer;
	}

	&:active {
		border: 1px solid #546685;
		-webkit-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
		box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
	}
}



nav {
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 2px;
	width: 100%;
	height: 35px;
	background-color: #eee;

	#file-button {
		float: left;
		height: 25px;
		margin-top: 8px;
		margin-left: 20px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	ul {
		margin-top: 10px;
		margin-left: 50px;
		list-style: none;

		li {
			display: inline;
			margin-right: 5px;

			a {
				padding: 5px;
				padding-left: 10px;
				padding-right: 10px;
				background-color: transparent;
				-webkit-transition:	all .3s ease-in-out;
				-moz-transition:	all .3s ease-in-out;
				-o-transition:		all .3s ease-in-out;
				transition:			all .3s ease-in-out;

				&:hover {
					cursor: pointer;
					text-decoration: none;
					background-color: #fff;
					border-top-left-radius: 3px;
					border-top-right-radius: 3px;
					-webkit-box-shadow: 0px 0px 5px 3px rgba(175, 175, 175, 0.5);
					-moz-box-shadow:    0px 0px 5px 3px rgba(175, 175, 175, 0.5);
					box-shadow:         0px 0px 5px 3px rgba(175, 175, 175, 0.5);
				}
			}

			.active {
				color: #2a6496;
				padding-right: 10px;
				padding-left: 10px;
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
				background-color: #fff;
				-webkit-box-shadow: 0px 0px 5px 3px rgba(175, 175, 175, 0.5);
				-moz-box-shadow:    0px 0px 5px 3px rgba(175, 175, 175, 0.5);
				box-shadow:         0px 0px 5px 3px rgba(175, 175, 175, 0.5);
			}
		}
	}


	#search {
		width: 200px;
		height: 25px;
		margin-top: -37px;
		margin-right: 10px;
		padding-left: 5px;
	}
}

#file-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 400px;
	width: 400px;
	background-color: white;
	margin-top: 35px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.5);

	button.btn {
		border-radius: 0px;
		width: 150px;

		img {
			float: left;
		}

		.text {
			margin-top: 15px;
			float: right;
		}

		&:hover {
			background: #fceabb; /* Old browsers */
			background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
			background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
		}

		&:active {
		}
	}

	#recent-filelist {
		width: 250px;
		height: 400px;
		position: absolute;
		top: 0;
		right: 0;
		background-color: #d8d8d8;

		ul {
			list-style: none;

			li {
				margin-top: 10px;

				a {
					cursor: pointer;
				}
			}
		}
	}
}

.ribbon-tab-toolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0px 5px 5px 0px #c7c7c7;
	-moz-box-shadow:    0px 5px 5px 0px #c7c7c7;
	box-shadow:         0px 5px 5px 0px #c7c7c7;
	padding-top: 5px;
	padding-left: 5px;
	margin-top: 35px;

	.full-size {
		padding-left: 5px;
		padding-right: 5px;
		height: 100%;
	}

	.tool-group {
		position: relative;
		float: left;
		border-style: solid;
		border-width: 1px;
		border-color: #d8d8d8;
		border-radius: 3px;
		margin-left: 3px;
		margin-right: 3px;
		height: 95%;
		padding: 5px;
	}

	.toolbar {
		display: block;
	}

	.font-toolbar {
		margin-left: -15px;
		margin-bottom: 5px;
	}
}

#home {
	#font-selection {
		margin-left: 15px;
		display: inline;
		width: 150px;
		height: 30px;
	}

	#font-size-selection {
		display: inline;
		width: 65px;
		height: 30px;
		margin-right: 10px;
	}

	.btn-text {
		display: none;
	}

	#paste-group {

		#cut-btn {
			margin-left: 70px;
			margin-bottom: 5px;
		}

		#copy-btn {
			margin-left: 10px;
		}
	}

	#paragraph-group {
		#paragraph-toolbar {
			margin-bottom: 5px;
		}
	}
}


#page {
	width: 850px;
	margin: 0 auto;
	margin-top: 150px;

	#editor {
		padding: 30px;
		margin-bottom: 20px;
		background-color: white;
		font-size: 14pt;
		border: none;
		width: 100%;
		height: 100%;
		-webkit-box-shadow: 0px 0px 5px 3px rgba(175, 175, 175, 0.5);
		-moz-box-shadow:    0px 0px 5px 3px rgba(175, 175, 175, 0.5);
		box-shadow:         0px 0px 5px 3px rgba(175, 175, 175, 0.5);
	}
}