<!DOCTYPE html>
<html lang="en" ng-app='Text'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Text</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" href="less/style.less" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller='RibbonController'>

    <nav id='ribbon'>
      <button class='cupid-green' ng-class='{active: showFileMenu}' id='file-button' ng-click='showFileMenu = !showFileMenu'>File</button>
      <ul>
        <li><a ng-class="{active: showHomeTab}" ng-click="showTab('home')">Home</a></li>
        <li><a ng-class="{active: showInsertTab}" ng-click="showTab('insert')">Insert</a></li>
        <li><a ng-class="{active: showViewTab}" ng-click="showTab('view')">View</a></li>
      </ul>

      <input type='text' id='search' class='pull-right' placeholder='Search...'>
    </nav>

    <div id='file-menu' ng-show='showFileMenu'>
      <button class='btn btn-default block'><img src='images/new_document.png'> <span class='text'>New File</span></button>
      <button class='btn btn-default block'><img src='images/open.png'> <span class='text'>Open File</span></button>
      <button class='btn btn-default block'><img src='images/save.png'> <span class='text'>Save File</span></button>

      <div id='recent-filelist'>
        <ul>
          <li><a>Document.docx</a></li>
          <li><a>Build Word.docx</a></li>
          <li><a>Lorem.docx</a></li>
          <li><a>Ipsum.docx</a></li>
          <li><a>Ruby 2.1 Features.docx</a></li>
          <li><a>Python.docx</a></li>
          <li><a>Go Lang.docx</a></li>
          <li><a>Haskell.docx</a></li>
        </ul>
      </div>
    </div>

    <div id='home' class='ribbon-tab-toolbar' ng-show='showHomeTab'>

      <div class='tool-group' id='paste-group'>
        <button class='clean-gray full-size pull-left' title='Paste Selection'><span class='btn-text'>Paste</span> <img src='images/paste.png'></button>
        <button class='clean-gray block' id='cut-btn' title='Cut Selection'><span class='btn-text'>Cut</span> <i class="fa fa-scissors"></i></button>
        <button class='clean-gray' id='copy-btn' title='Copy Selection'><span class='btn-text'>Copy</span> <i class="fa fa-files-o"></i></button>
      </div>

      <div class='tool-group' id='font-group'>

        <div class='toolbar font-toolbar'>
          <select id='font-selection' class='form-control'>
            <option>Calibri</option>
          </select>

          <select id='font-size-selection' class='form-control'>
            <option>12</option>
          </select>
        </div>

        <div class='toolbar'>
          <button class='clean-gray' title='Bold'><i class="fa fa-bold"></i></button>
          <button class='clean-gray' title='Italic'><i class="fa fa-italic"></i></button>
          <button class='clean-gray' title='Underline'><i class="fa fa-underline"></i></button>
        </div>
      </div>

      <div class='tool-group' id='paragraph-group'>
        <div class='toolbar' id='paragraph-toolbar'>
          <button class='clean-gray' title='Ordered List'><i class="fa fa-list-ol"></i></button>
          <button class='clean-gray' title='Bulleted List'><i class="fa fa-list"></i></button>
          <button class='clean-gray' title='Indent Text'><i class="fa fa-indent"></i></button>
          <button class='clean-gray' title='Outdent Text'><i class="fa fa-outdent"></i></button>
        </div>

        <div class='toolbar' id='alignment-toolbar'>
          <button class='clean-gray' title='Align Left'><i class="fa fa-align-left"></i></button>
          <button class='clean-gray' title='Align Center'><i class="fa fa-align-center"></i></button>
          <button class='clean-gray' title='Align Right'><i class="fa fa-align-right"></i></button>
        </div>
      </div>
    </div>


    <div id='insert' class='ribbon-tab-toolbar' ng-show='showInsertTab'>

      <div class='tool-group'>
        <div class='toolbar'>
          <button class='clean-gray full-size' title='Insert Blank Page'><img src='images/blank_page.png'></button>
          <button class='clean-gray full-size' title='Insert Image'><img src='images/image.png'></button>
        </div>
      </div>
    </div>

    <div id='view' class='ribbon-tab-toolbar' ng-show='showViewTab'>

      <div class='tool-group'>
        <div class='toolbar'>
          <button class='clean-gray full-size' title='View FullScreen'><img src='images/fullscreen.png'></button>
        </div>
      </div>
    </div>

    <div id='page'>
      <div id='editor' contenteditable>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/less/dist/less-1.6.2.min.js"></script>
    
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js'></script>
    <script src='js/app.js'></script>

  </body>
</html>